<div class="container">
  <form (submit)="saveSettings()" [formGroup]="form">
    <div class="form-group">
      <label for="numberOfItems">Number of items</label>
      <input
        class="form-control"
        type="number"
        id="numberOfItems"
        [value]="(settings$ | async).settings.nrOfItems"
        formControlName="nrOfItems"
      />
    </div>

    <!-- <div class="form-group">
                <label for="persistent">Persistent</label>
                <input class="form-control" type="checkbox" id="persistent" name="persistentControl" [(ngModel)]="persistent">
    </div> -->
    <button class="btn" type="submit">Save settings</button>
  </form>
</div>
