@import '../../../assets/colors';

form {
    background: $contrast;
    border-radius: 5px;
    padding: 30px;
    color: white;
    box-shadow: 20px 20px 0px $blue;

    input[type="checkbox"] {
        width: 38px;
    }
    button {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background: $gray;

        &:hover {
            background: black;
            color: white;
        }
    }

    &.loading {
        box-shadow: 20px 20px 0px $gray;

    }
}